
@{
    ViewBag.Title = "MyVideo";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <link href="/Content/jQuery-video/zy.media.min.css" rel="stylesheet" />
    <style type="text/css">

        .playvideo {
            padding-top: auto;
            z-index: 9999;
            position: relative;
        }

        .zy_media {
            z-index: 999999999;
        }
        .master-wrapper-page {
            -webkit-box-shadow: 0 0 15px #228896;
            margin: 15px 15px 30px;
        }
    </style>

    <meta name="viewport"
          content=" height = device-height,
                    width = device-width,
                    initial-scale = 1.0,
                    minimum-scale = 1.0,
                    maximum-scale = 1.0,
                    user-scalable = no" />
</head>
<body>
    <div id="fh5co-main" style="overflow-y:auto">
        <div class="fh5co-narrow-content">
            <div class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">
                <div style="float: left">Read Our Blog</div>
                <div style="float: right">Read Our Blog</div>
                <div style="clear: both; width: 0px; height: 0px;"></div>

                @*<div class="find_nav" style="margin-top:20px">
                <div class="find_nav_left">
                    <div class="find_nav_list">
                        <ul>
                            <li><a href="/Home/MyVideo?ClassifyId=0"  @(ViewBag.ClassifyId==0?"style=color:#228896":"")>全部</a></li>
                            <li><a href="/Home/MyVideo?ClassifyId=1"  @(ViewBag.ClassifyId==1?"style=color:#228896":"")>爱情</a></li>
                            <li><a href="/Home/MyVideo?ClassifyId=2"  @(ViewBag.ClassifyId==2?"style=color:#228896":"")>亲情</a></li>
                            <li><a href="/Home/MyVideo?ClassifyId=3"  @(ViewBag.ClassifyId==3?"style=color:#228896":"")>音乐MV</a></li>
                            <li><a href="/Home/MyVideo?ClassifyId=4"  @(ViewBag.ClassifyId==4?"style=color:#228896":"")>搞笑</a></li>
                            <li><a href="/Home/MyVideo?ClassifyId=5"  @(ViewBag.ClassifyId==5?"style=color:#228896":"")>其他</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
            </div>

                <span class="layui-breadcrumb" lay-separator="|" >
                    <a href="/Home/MyVideo?ClassifyId=0" @(ViewBag.ClassifyId == 0 ? "style=color:#228896" : "")>全部</a>
                    <a href="/Home/MyVideo?ClassifyId=1" @(ViewBag.ClassifyId == 1 ? "style=color:#228896" : "")>爱情</a>
                    <a href="/Home/MyVideo?ClassifyId=2" @(ViewBag.ClassifyId == 2 ? "style=color:#228896" : "")>亲情</a>
                    <a href="/Home/MyVideo?ClassifyId=3" @(ViewBag.ClassifyId == 3 ? "style=color:#228896" : "")>音乐MV</a>
                    <a href="/Home/MyVideo?ClassifyId=4" @(ViewBag.ClassifyId == 4 ? "style=color:#228896" : "")>搞笑</a>
                    <a href="/Home/MyVideo?ClassifyId=5" @(ViewBag.ClassifyId == 5 ? "style=color:#228896" : "")>其他</a>
                </span>
            <div style="height:10px;"></div>

            
            <div id="videodiv">
                @{System.Data.DataTable dt = ViewData["dtMyVideo"] as System.Data.DataTable;}
                @if (dt.Rows.Count > 0)
                {
                    foreach (System.Data.DataRow item in dt.Rows)
                    {
                        <div  class="master-wrapper-page">
                            <div class="zy_media">
                                <video controls poster="@item["VideoCoverUrl"]" data-config='{"mediaTitle": "@item["VideoName"]"}' loop="loop">
                                    @*<source src="http://myhome1314-1253564673.cossh.myqcloud.com/MyVideo/%E6%AD%8C%E8%88%9E%E9%9D%92%E6%98%A5_1.mp4" type="video/mp4">*@
                                    <source src="@item["VideoUrl"]" type="video/mp4">
                                    您的浏览器不支持HTML5视频
                                </video>
                            </div>
                        </div>
                    }
                }

                <div id="demo6"></div>
            </div>
        </div>
    </div>

    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/NavigationMenu/js.js"></script>
    <script src="/Content/jQuery-video/zy.media.min.js"></script>
    <script type="text/javascript">
        //document.documentElement.style.overflow='hidden';
        zymedia('video', { autoplay: false });
        var screenheight = window.screen.height / 2;
        var videoheight = $(".zy_media").height() / 2;
        var padding_top = screenheight - videoheight;
        $(".playvideo").css({ "top": padding_top });

        layui.use(['laypage', 'layer', 'element'], function () {
            var laypage = layui.laypage
                , layer = layui.layer
                , element = layui.element;
        //只显示上一页、下一页
         laypage.render({
            elem: 'demo6'
             , count: '@ViewBag.RecordCount'
             , limit: 6
             , curr: '@ViewBag.CurrentIndex'  || 1 //当前页,
             , layout: ['count', 'prev', 'page', 'next', 'skip']
             , jump: function (obj, first) {
                if (!first) {
                    var url = '/home/myvideo?PageSize=' + 6 + '&CurrentIndex=' + obj.curr + "&ClassifyId=" + @ViewBag.ClassifyId;
                    window.location = url;
                }
            }
         });
        });

    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("li[id='Myvideo']").attr("class", 'fh5co-active')
        $("li[id!='Myvideo']").attr("class", '')
        $("li[id='index']").html("<a href=\"/Home/index\">我的主页</a>")
        $("li[id='Album']").html("<li><a href=\"/Home/Album\">相册</a></li>")
        $("li[id='Message']").html("<li><a href=\"/Home/Message\">留言板</a></li>")
        $("li[id='Myvideo']").html("<li><a href=\"/Home/Myvideo\">Video</a></li>")
        $("li[id='MyDiary']").html("<li id=\"MyDiary\"><a href=\"/MyDiary/MyDiary\">心情日历</a></li>")
        $("li[id='About']").html("<li><a href=\"/Home/About\">关于我们</a></li>")
    })
    </script>

</body>

</html>
